@import "tailwindcss";





@font-face {
    font-family: boldFont;
    src: url("./assets//fonts/bold_font.woff2");
}

@font-face {
    font-family: smallFont;
    src: url("./assets//fonts/a4.woff2");
}

@font-face {
    font-family: small2;
    src: url("./assets//fonts/u4.woff2");
}

@font-face {
    font-family: small3;
    src: url("./assets//fonts/u7.woff2");
}

@font-face {
    font-family: boldFont2;
    src: url("./assets//fonts/u8.woff2");
}

@layer utilities{
    .small{
        @apply uppercase font-['smallFont'] text-xs
    }
}

/* Add to your global CSS file */
.custom-scrollbar {
  scrollbar-width: thin;  /* For Firefox */
  scrollbar-color: #18181b transparent;  /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;  /* For Chrome, Safari, and Opera */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #18181b;
  border-radius: 3px;
}

.story-line{
      row-gap: 4rem;
      grid-template-columns: 300px;
      grid-template-areas: "img1" "img2" " img3" "img4" "img5" "img6" "img7" "img8" "img9" " img10" "img11" "img12";
    }


@media screen and (min-width: 768px) {
    .story-line{
      row-gap: 4rem;
      grid-template-columns: repeat(2,300px);
      grid-template-areas: "img1 ." " . img2" " img3 ." " . img4" ". img5" "img6 ." "img7 ." " . img8" "img9 ." " img10 ." " . img11" "img12   .";
    }
}

@media screen and (min-width: 1024px) {
    .story-line{
      row-gap: 4rem;
      grid-template-columns: repeat(3,1fr);
      grid-template-areas: "img1 . ." ". . img2" ". img3 ." ". . img4" ". img5 ." "img6 . ." ". img7 ." ". . img8" "img9 . ." ". img10 ." ". . img11" "img12  .  .";
    }
}




